<form action='/articles/<%=article._id%>?_method=PATCH' method="post">

  <label>Title</label>
    <input type="text" name='article[title]' value = <%=article.title%> >
  <label>Author</label>
    <input type="text" name='article[author]' value= <%=article.author%> >
  <label>Content</label>
    <textarea form = "form" cols="50" rows="4"
              name='article[content]'> <%=article.content%>
    </textarea>

    <input type="submit" value="Submit Changes">
    
</form>


<form action= method='post'>
