<h1 id = "h1Article"> New Post </h1>
<div id='newPostContainer'>
<form id = 'form' action="/articles/new" method="post">
  <label>Title:</label>
    <input id = "at1" class = "articleTextbox" type="text" name='article[title]' placeholder="Title">
  </br>
  <label>Author:</label>
    <input id = "at2" class = "articleTextbox"  type="text" name='article[author]'
    value = <%=currentUser.charAt(0).toUpperCase() + currentUser.substring(1)%> readonly >
  </br>
  <label>Category:</label>
    <input id = "at3" class = "articleTextbox" type="text" name='article[category]' placeholder="Title">
  </br>
  <label>Content:
  <textarea id = "at4"
            class = "articleTextbox" form = 'form' cols="50" rows="4"
            placeholder = "Content"
            name = 'article[content]'></textarea>
</label>
    <div class = "newSubmitContainer">
    <a class="mainButtons" id = "at5"  href = '/articles'>Back</a>
    <input class="mainButtons" id = "at6"  type="submit" value="Submit">
    </div>
</form>
</div>
