<form id = 'form' action="/articles/new" method="post">

  <label>Title</label>
    <input type="text" class = "textbox" name='article[title]' placeholder="Title" >
  <label>Author</label>
    <input type="text" class = "textbox" name='article[author]' value = <%=currentUser.charAt(0).toUpperCase() + currentUser.substring(1)%> >
  <label>Content</label>

  <textarea form = "form" cols="50" rows="4"
            name='article[content]' placeholder="Content">
  </textarea>

    <input type="submit" value="Submit a new Post">

</form>
