<div class = "mix">
<h2><%= article.title %>
<p>by <%= article.author %></p>
<p><%= article.content %></p>
<a href = '/articles/edit/<%=article._id %>'>Edit</a>
<a href = '/articles'>Back</a>
</div>
</div>
