@import url(http://fonts.googleapis.com/css?family=Pacifico);

h2 {
  margin: 0;
}

h1 {
  font-family: Pacifico;
}

body{
  background: #68b8c4;
  text-align: center;
  padding: 2%;
}

button{
  display: inline-block;
  background: white;
  border: 0;
  margin: 0 0 2%;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 18px;
  padding: .5em 1em;
  border-radius: 5px;
  cursor: pointer;
  outline: 0 none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p{
  font-family: "Helvetica Neue", arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  margin-top: .1em;
  margin-bottom: .1em;
}

p:last-child{
  margin-bottom: 0;
}

.container .mix{
  text-align: left;
  background: #03899c;
  margin: 0 0 5%;
  padding: 4%;
  display: none;

  -webkit-backface-visibility: hidden;

  -webkit-transform-origin: 50% 0;
}

.container{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
  max-height: 900px;
}
