<h1> Wiki Demo </h1>

<div id = 'loginContainer'>
<% if (referer === 'http://localhost:1337/' || 'https://wiki-demo.herokuapp.com/') { %>

<h2 id='loginError'> Wrong username or password </h2>

<% } %>

<form action = '/users/login' method = 'post'>

<input  type = 'text'
        name = 'user[username]'
        placeholder= "username"
        autofocus="true"
        class = 'textbox'>
<input  type = 'password'
        name = 'user[password]'
        placeholder= "password"
        class = 'textbox'>

<div class = 'loginSignup'>
<input id = "mainButton1" class = 'mainButtons' type='submit' value = "Login">
<a id = "mainButton2" class = 'mainButtons' href = '/users/new'> Sign up </a>
</div>

</form>
</div>
