<h1> Sign up for the site! </h1>
<form action = '/users' method = 'post'>

<input  type = 'text'
        name = 'user[username]'
        placeholder= "user name">
<input  type = 'password'
        name = 'user[password]'
        placeholder= "password">
<input type='submit' value = "Sign Up">

</form>
