<h1> Sign up! </h1>

<h2 id='loginError'> Use a fake username and password </h2>

<div id = 'loginContainer'>
<form action = '/users' method = 'post'>

<input  type = 'text'
        name = 'user[username]'
        placeholder= "username"
        class = "textbox">
<input  type = 'password'
        name = 'user[password]'
        placeholder= "password"
        class = "textbox">

<div class = 'loginSignup'>
<input id = "mainButton1" class = 'mainButtons' type='submit' value = "sign up">
<a id = "mainButton2" class = 'mainButtons' href = '/'> back to login </a>
</div>
</form>
</div>
